# Python
__pycache__/
*.py[cod]

# Virtual environment
.venv/
venv/

# Environment / secrets
.env
.env.*

# Database
*.db
*.sqlite
*.sqlite3

# VS Code
.vscode/

# OS files
.DS_Store
Thumbs.db

# Logs
*.log